<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Usuario</title>
</head>
<body>
    <h1>Add Usuario</h1>
    <form th:action="@{/guardarUsuario}" th:object="${usuario}" method="post">
		<!-- Campo de entrada para el nombre -->
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>
        <br><br>
        <!-- Botón para enviar el formulario -->
        <button type="submit">Add Usuario</button>
    </form>
</body>
</html>
